* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 150px;
}

.container {
    padding: 0;
    width: 772px;
    height: 772px;
    justify-content: center;
    display: inline-flex;
    position: relative;
}


.game-board {
    background: #ececec;
    border: 2px solid yellow;
    z-index: 1;
    margin:auto;
    position: relative;
    display:inline-flex;

}
.start-game-screen {
    font-family: "Currier New", sans-serif;
    color: black;
    background: linear-gradient(120deg, rgba(255, 0, 0, 0.97), rgba(189, 17, 17, 1), rgba(175, 12, 12, 1), rgba(142, 6, 6, 1), rgba(77, 0, 0, 1), rgba(55,0,102,1), rgba(55,0,102,1));
    border: dashed black;
    margin: auto;
    width: 450px;
    height: 450px;
    border-width: 8px 12px;
    border-radius: 12% 12% 25% 25%;
    padding: 20px;
    z-index: 3;
    position: absolute;
    top: 100px;
    display: inline-block;
}

img {
    z-index: 2;
}

span {
    position: absolute;
    z-index: 2;
}

    .top-score {
        top: 10px;
    }

    .health-left {
        top:20px;
        left: 30px;
    }

    .total-score {
        font-weight: 800;
        color: red;
        left: 550px;
        top:20px;
    }



h1 {
    padding: 10px;
    margin: 10px;
}

h2 {
    margin: 5px;
    padding: 5px;
}

p {
    margin: 5px;
    padding: 5px;
}

.inset {
    border: 6px inset black;
    border-radius: 15px;
    background: #a9a8a8;
}

.btn {
    background: #a9a8a8;
    border-radius: 3px;
    border: 2px outset black;
    padding: 2px;
}

    .btn:hover {
        background: #848484;
    }

    .btn:active {
        background: #4d4d4d;
    }



.warning {
    color: darkred;
}

.helpful {
    color: #337c00;
}